body {
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-yellow {
  background: #fdb900;
}

.ch-bg {
  margin-bottom: 5vh;
  margin-top: 0;
}

.jp-bg {
  margin-top: 5vh;
}

.body {
  margin: 0;
}

.bottom-shadow {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.yellow-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fdb900;
  height: 4vh;
  padding: auto;
  position: absolute;
  top: 96vh;
  width: 100%;
}

.about-intro {
  color: black !important;
}

.center-container {
  text-align: center;
  width: 60vw;
  margin: auto;
  display: relative;
}

.center-container h3 {
  font-size: 3.5vw;
  width: 100%;
}

.center-container .left-text {
  text-align: start;
}

.center-container .left-text .left-img {
  left: -100px;
  width: 10vw;
  height: auto;
  z-index: -1;
  position: absolute;
}

.center-container .right-text {
  text-align: end;
}

.center-container .right-text .right-img {
  right: -100px;
  width: 10vw;
  height: auto;
  z-index: -1;
  position: absolute;
}

.center-container .left-text, .center-container .right-text {
  padding: 50px;
  position: relative;
  font-size: 2vw;
}

@media (min-width: 768px) and (orientation: portrait) {
  .upp {
    width: 50px !important;
    height: 50px !important;
  }
  .carousel-item img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 50vh !important;
    background-color: black;
    opacity: 0.9;
  }
  .jp {
    text-align: center;
  }
  .jp .jp-container {
    margin: auto;
    width: 80vw !important;
  }
  .jp .jp-container h4 {
    font-size: 6vw !important;
  }
  .jp .jp-container p {
    font-size: 5vw;
  }
  .jp-bg, .ch-bg {
    min-width: 35vh !important;
    max-width: 40vh;
    margin: 6vw !important;
    margin-bottom: 4vw !important;
  }
  .card-deck {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.jp-bg {
  background-image: url("./assets/jp-bg.jpg");
}

.ch-bg {
  background-image: url("./assets/ch-bg.jpg");
}

.jp-bg, .ch-bg {
  background-size: cover;
  background-position: 50%;
  border-radius: 5px !important;
  height: 50vh;
  color: white !important;
}

.cards {
  width: 100% !important;
  background-image: url("./assets/jp-ch1.jpg");
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  background-color: white;
  background-blend-mode: luminosity;
}

.carousel-control-prev-icon, .carousel-control-prev-icon {
  color: black !important;
}

.carousel-caption h3, .carousel-caption p {
  text-shadow: black 0px 0px 10px;
}

.jp-container {
  width: 60vw !important;
}

.opm {
  position: absolute;
  z-index: -1;
}

.upp {
  position: fixed !important;
  z-index: 100 !important;
  right: 5vw;
  bottom: 5vw;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: none !important;
  }
  .upp {
    width: 50px !important;
    height: 50px !important;
  }
  .carousel-item img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 70vh !important;
    background-color: black;
    opacity: 0.9;
  }
  .home-container {
    width: 60vw !important;
  }
  .home-container .intro-header {
    font-size: 3.5vw;
  }
  .home-container .intro-p {
    font-size: 2vw;
  }
  .about-intro {
    font-size: 3vw !important;
  }
  .card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: column !important;
        -ms-flex: column !important;
            flex: column !important;
  }
  .card-deck .ch-bg, .card-deck .jp-bg {
    margin: 4vw;
    min-width: 300px !important;
    max-width: 400px !important;
  }
  .card-deck .ch-bg {
    margin-bottom: 4vw !important;
  }
  .jp {
    text-align: center;
  }
  .jp .jp-container {
    margin: auto;
  }
  .jp .jp-container h4 {
    font-size: 3vw !important;
  }
  .jp .jp-container p {
    font-size: 2vw;
  }
  .about-intro {
    width: 90%;
    text-align: center !important;
    font-size: 4vw;
  }
  .hideNav {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .card-container {
    width: 60% !important;
    text-align: center !important;
  }
  .card-container h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .card-container p {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .yellow-bg {
    display: none !important;
  }
  .upp {
    width: 50px !important;
    height: 50px !important;
  }
  .carousel-item img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 70vh !important;
    background-color: black;
    opacity: 0.9;
  }
  .jp {
    text-align: center;
  }
  .jp .jp-container {
    margin: auto;
    width: 80vw !important;
  }
  .jp .jp-container h4 {
    font-size: 1.5rem !important;
  }
  .jp .jp-container p {
    font-size: 1.1rem;
  }
  .about-intro {
    width: 100%;
    font-size: 1.5rem;
  }
  .home {
    background-position-x: 70%;
  }
  .card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-flex: column !important;
        -ms-flex: column !important;
            flex: column !important;
  }
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: column !important;
        -ms-flex: column !important;
            flex: column !important;
    text-align: center;
    width: 80vw !important;
    margin: auto;
  }
  .home-container {
    width: 90vw !important;
    text-align: center;
  }
  .home-container .intro-header {
    text-align: center !important;
    font-size: 1.5rem;
  }
  .home-container .intro-p {
    text-align: center;
    font-size: 1rem;
  }
  .card-deck {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .ch-bg {
    margin-bottom: 10vh !important;
    min-width: 60vw !important;
    max-width: 60vw !important;
  }
  .jp-bg {
    margin-bottom: 5vh !important;
    min-width: 60vw !important;
    max-width: 60vw !important;
  }
}

.home {
  height: 100vh;
  background-image: url("./assets/home-background.jpg");
  background-size: cover;
  background-repeat: no repeat;
  height: 100vh;
}

.home .btn {
  background: #fdb900;
  border: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 7vh;
  max-height: 30vh;
  margin: auto;
  -webkit-transition: 0.15s linear !important;
  transition: 0.15s linear !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
}

.nav .button {
  border: none;
  background-color: transparent;
  display: none;
}

.nav .button:focus {
  outline: 0;
}

.nav .logo {
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
}

.nav .nav-ul {
  width: auto;
  margin: 0 !important;
  padding: 0;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.nav .nav-ul .nav-link {
  text-align: center !important;
  margin: auto !important;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .nav {
    background-color: #fdb900;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .nav .logo {
    width: 10vw !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 !important;
            flex: 0 !important;
  }
  .nav .button {
    display: block;
    position: absolute;
    right: 0;
    z-index: 100;
    height: 100%;
  }
  .nav .button .cross {
    -webkit-transition-duration: 0.2s ease !important;
            transition-duration: 0.2s ease !important;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .nav .button .burger {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .nav .nav-ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 0;
    top: 7vh;
    background-color: #fdb900;
    width: 100%;
    height: 50vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav .nav-ul .nav-link {
    position: relative;
    opacity: 0;
    margin: 0;
    padding: auto;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    -webkit-transition: 0.8s all ease;
    transition: 0.8s all ease;
  }
  .nav-translate {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
  .opacity {
    opacity: 1 !important;
    -webkit-transition: 0.8s all ease;
    transition: 0.8s all ease;
  }
}

.showed {
  display: block !important;
}

.hsk {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.ch-bb {
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}

.page-footer {
  background-color: #212121;
  z-index: 2;
  color: white !important;
}

.page-footer .container-fluid {
  padding-top: 20px;
}

#website {
  display: none;
}

.contact-form {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.contact-form label {
  margin-left: 5%;
  float: left;
  width: 20%;
}

.contact-form input {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.form-success {
  display: none;
  -webkit-transition: 1s all ease !important;
  transition: 1s all ease !important;
  right: 10%;
  text-align: center;
  z-index: 1000;
}

.form-show {
  display: block !important;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.contact-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}

.contact-form {
  z-index: 1000 !important;
  width: 85vw;
  height: auto;
  background: white;
  color: black;
  border-radius: 10px;
  max-width: 500px;
}

.contact-form label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-form input {
  margin-top: 2%;
  margin-bottom: 2%;
}

.contact-form button {
  z-index: 100;
}

@media screen and (max-height: 605px) and (orientation: landscape) {
  .jp-bg, .ch-bg {
    height: 70vh !important;
    width: 30vw !important;
  }
}

@media screen and (max-height: 605px) and (orientation: portrait) {
  .form-success {
    width: 60%;
    left: 20%;
  }
}

@media screen and (max-width: 605px) and (orientation: portrait) {
  .contact-form {
    width: 80vw;
    height: auto;
    background: white;
    color: black;
    border-radius: 10px;
    max-width: 500px;
  }
  .contact-form h5 {
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
  }
  .contact-form label {
    width: 40%;
    margin-left: 15%;
    float: left;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contact-form input {
    display: block;
    width: 70%;
    margin-left: 15%;
  }
  .contact-form .react-tel-input {
    margin-left: 15% !important;
  }
  .contact-form .react-tel-input input {
    width: 70% !important;
  }
  .card.mb-4 {
    min-width: 80vw !important;
    max-width: 80vw !important;
  }
}

@media screen and (max-width: 400px) and (orientation: landscape) {
  .contact-form {
    width: 80vw;
    height: auto;
    background: white;
    color: black;
    border-radius: 10px;
    max-width: 500px;
    max-height: 80vh;
  }
  .contact-form h5 {
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
  }
  .contact-form label {
    width: 40%;
    margin-left: 15%;
    float: left;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contact-form input {
    display: block;
    width: 70%;
    margin-left: 15%;
  }
  .contact-form .react-tel-input {
    margin-left: 15% !important;
  }
  .contact-form .react-tel-input input {
    width: 70% !important;
  }
}

.carousel-indicators {
  z-index: 0 !important;
}

.react-tel-input {
  margin-left: 25% !important;
}

.react-tel-input input {
  width: 50% !important;
}

.jlpt {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.carousel-item img {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.ch-btn, .jp-btn {
  background-color: #fdb900 !important;
  border: none !important;
}

.card.mb-4 {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 60vw !important;
  max-width: 70vw !important;
  height: auto;
  border-radius: 0 !important;
}

.card.mb-4 .card-title {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.job-form.contact-form input, .job-form.contact-form textarea {
  width: 80%;
}

.job-form.contact-form input {
  margin-left: auto !important;
  margin-right: auto !important;
}

.job-form.contact-form textarea {
  margin-left: 10% !important;
  margin-top: 2%;
  margin-bottom: 2%;
}

.job-form.contact-form .react-tel-input {
  margin-left: 10% !important;
}

.job-form.contact-form .react-tel-input input {
  width: 80% !important;
  margin: 0 !important;
}

.x {
  position: fixed;
  left: 0;
}
/*# sourceMappingURL=App.css.map */
